* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  padding: 20px;
}

.container {
  display: flex;
  border: 20px solid #485123;

  /* Свойства flex-контейнера по умолчанию, можно не задавать */
  flex-direction: row;  
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.container_item {
  border: 20px solid #eadd46;
}

.container_item_1 {
  /* место для экспериментов */
}

.container_item_2 {
  /* место для экспериментов */
}

.container_item_3 {
  /* место для экспериментов */
}
